name: Build And Package

on:
  push:
  #    branches: [main]
  #  pull_request:

  workflow_dispatch:

jobs:
  build_for:
    name: Build for

    strategy:
      matrix:
        #target_distro: [bookworm, trixie]
        #target_arch: [arm64, armhf, amd64, i386]
        target_distro: [trixie]
        target_arch: [arm64]
      fail-fast: false

    runs-on: ${{ startsWith(matrix.target_arch, 'arm') && 'ubuntu-24.04-arm' || 'ubuntu-24.04' }}

    env:
      BDIR: 'debian'
      TARGET_DISTRO: ${{ matrix.target_distro }}
      TARGET_ARCH: ${{ matrix.target_arch }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup build directory
        run: |
          mkdir ${BDIR}
          cp -p scripts/*.sh ${BDIR}

      - name: Set up for chroot
        run: |
          sudo apt update
          sudo apt install -y debootstrap
          sudo debootstrap --arch ${{ matrix.target_arch }} --foreign ${{ matrix.target_distro }} `pwd`/${BDIR} http://ftp2.de.debian.org/debian
          sudo cp /etc/resolv.conf ${BDIR}/etc/.
          sudo chroot ${BDIR} /bin/bash -c "/debootstrap/debootstrap --second-stage"
          #for i in dev proc sys ; do
          #  [ -d ${BDIR}/$i ] || sudo mkdir ${BDIR}/$i
          #  sudo mount --bind /$1 ${BDIR}/$i
          #done

      - name: Set up in chroot environment
        run: |
          sudo chroot ${BDIR} /bin/bash -c "./build.sh ${TARGET_DISTRO} ${TARGET_ARCH}"

      - name: Thunk-gen
        run: |
          sudo chroot ${BDIR} /bin/bash -c "./build-thunk-gen.sh ${TARGET_DISTRO} ${TARGET_ARCH}"

      - name: SmallerC
        run: |
          sudo chroot ${BDIR} /bin/bash -c "./build-smallerc.sh ${TARGET_DISTRO} ${TARGET_ARCH}"

      - name: Djstub
        run: |
          sudo chroot ${BDIR} /bin/bash -c "./build-djstub.sh ${TARGET_DISTRO} ${TARGET_ARCH}"

      - name: Dj64dev
        run: |
          sudo chroot ${BDIR} /bin/bash -c "./build-dj64dev.sh ${TARGET_DISTRO} ${TARGET_ARCH}"

      - name: Nasm-segelf
        run: |
          sudo chroot ${BDIR} /bin/bash -c "./build-nasm-segelf.sh ${TARGET_DISTRO} ${TARGET_ARCH}"

      - name: Fdpp
        run: |
          sudo chroot ${BDIR} /bin/bash -c "./build-fdpp.sh ${TARGET_DISTRO} ${TARGET_ARCH}"

      - name: Comcom64
        run: |
          sudo chroot ${BDIR} /bin/bash -c "./build-comcom64.sh ${TARGET_DISTRO} ${TARGET_ARCH}"

      - name: Dosemu2
        run: |
          sudo chroot ${BDIR} /bin/bash -c "./build-dosemu2.sh ${TARGET_DISTRO} ${TARGET_ARCH}"

      - name: Install FreeDOS Userspace
        run: |
          sudo chroot ${BDIR} /bin/bash -c "./build-insfdusr.sh ${TARGET_DISTRO} ${TARGET_ARCH}"

      - name: Upload packages as RaspiOS
        if: matrix.target_arch == 'arm64' || matrix.target_arch == 'armhf'
        uses: actions/upload-artifact@v4
        with:
          name: RaspiOS-${{ matrix.target_distro }}-${{ matrix.target_arch }}
          path: ${{ env.BDIR }}/*.deb

            #      - name: Upload packages as Debian
            #        uses: actions/upload-artifact@v4
            #        with:
            #          name: Debian-${{ matrix.target_distro }}-${{ matrix.target_arch }}
            #          path: ${{ env.BDIR }}/*.deb
